.tooltip {
  background-color: #f2395a;
  border-radius: 5px;
  color: var(--clr-neutral-light);
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  height: 60px;
  line-height: 60px;
  position: relative;
  text-align: center;
  width: 250px;
}

.tooltip::before,
.tooltip::after {
  display: none;
  position: absolute;
}

.tooltip::before {
  background-color: var(--clr-neutral-dark);
  border-radius: 5px;
  color: var(--clr-neutral-light);
  content: attr(aria-label);
  font-size: 16px;
  line-height: 1.5;
  padding: 8px;
}

.tooltip::after {
  border: 5px solid transparent;
  content: "";
  height: 0;
  width: 0;
}

.tooltip:hover::before,
.tooltip:hover::after {
  display: inline-block;
}

.tooltip.top::before,
.tooltip.top::after {
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.top::before {
  bottom: calc(100% + 5px);
}

.tooltip.top::after {
  border-top-color: var(--clr-neutral-dark);
  border-bottom-width: 0;
  bottom: 100%;
}

.tooltip.right::before {
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.right::after {
  border-right-color: var(--clr-neutral-dark);
  border-left-width: 0;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.tooltip.bottom::before {
  top: calc(100% + 5px);
  left: 50%;
  transform: translateX(-50%);
}

.tooltip.bottom::after {
  border-bottom-color: var(--clr-neutral-dark);
  border-top-width: 0;
  left: 50%;
  top: 100%;
  transform: translateX(-50%);
}
